{% extends "website/base.html" %}

{% block content %}
    <div class="peoplecontent">
        <h1>OUR EXECUTIVES</h1>
    </div>
    <div class="peoplelists">
        <div class="peoplelist">
            <div class="peopleimage">
                <img src="/static/img/michaelgambon.jpg" alt="founder image" width="200" height="300">
            </div>
            <div class="peoplename"><h2>Michael Gambon</h2></div>
            <div class="peoplepost"><h3>(Founder)</h3></div>
        </div>
    
        
    </div>
    <div class="peoplelists">
        <div class="peoplelist">
            <div class="peopleimage">
                <img src="/static/img/alanrick.jpg" alt="CEO image" width="200" height="300">
            </div>
            <div class="peoplename"><h2>Alan Rickman</h2></div>
            <div class="peoplepost"><h3>(Chief Executive Officer)</h3></div>
        </div>
    
       
    </div>
    <div class="peoplelists">
        <div class="peoplelist">
            <div class="peopleimage">
                <img src="/static/img/dan.jpg" alt="COO image" width="200" height="300">
            </div>
            <div class="peoplename"><h2>Daniel Radcliffe</h2></div>
            <div class="peoplepost"><h3>(Chief Operating Officer)</h3></div>
        </div>
    </div>
    
    <div class="peoplelists">
        <div class="peoplelist">
            <div class="peopleimage">
                <img src="/static/img/davidthewlis.jpg" alt="CFO image" width="200" height="310">
            </div>
            <div class="peoplename"><h2>David Thewlis</h2></div>
            <div class="peoplepost"><h3>(Chief Financial Officer)</h3></div>
        </div>
    </div>
    
    <div class="peoplelists">
        <div class="peoplelist">
            <div class="peopleimage">
                <img src="/static/img/tom.jpg" alt="CLO image" width="200" height="310">
            </div>
            <div class="peoplename"><h2>Tom Felton</h2></div>
            <div class="peoplepost"><h3>(Chief Legal Officer)</h3></div>
        </div>
    </div>
    
    <div class="peoplelists">
        <div class="peoplelist">
            <div class="peopleimage">
                <img src="/static/img/oldman.jpg" alt="CMO image" width="230" height="300">
            </div>
            <div class="peoplename"><h2>Gary Oldman</h2></div>
            <div class="peoplepost"><h3>(Chief Marketing Officer)</h3></div>
        </div>
    </div>
{% endblock  %}