{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1 style="text-align:center;"><u>Our Premium Products</u></h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c1.jpg" alt="product image">
            </div>
           <div class="itemname"><b>4GB DDRA4 laptop memory</b></div>
           <div class="itemprice"><b>Price: Rs.2000.00</b> </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c2.jpg"  alt="product image">
            </div>
         <div class="itemname"><b>1TB Laptop HDD</b></div>
            <div class="itemprice"><b>Price: Rs.5000.00 </b></div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/levelsensor.png" alt="product image">
            </div>
           <div class="itemname"><b>Optical liquid level sensor</b></div>
           <div class="itemprice"><b>Price: Rs.1299.00</b></div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/memory.jpg" alt="product image">
            </div>
          <div class="itemname"><b>SATA SDD memory chip</b></div>
          <div class="itemprice"><b>Price: Rs.2540.00</b></div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/ramchip.webp" alt="product image">
            </div>
          <div class="itemname"><b>Winbond Electronics - W9464G6KH-5 DRAM Chip</b></div>
         <div class="itemprice"><b>Price: Rs.500.00</b></div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/sensor.png" alt="product image">
            </div>
           <div class="itemname"><b>Proximity sensor</b></div>
          <div class="itemprice"><b>Price: Rs.547</b></div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/switchingdevices.jpg" alt="product image">
            </div>
          <div class="itemname"><b>Switching devices</b></div>
          <div class="itemprice"><b>Price : Rs.899.00</b></div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/sensorgroove.png" alt="product image">
            </div>
          <div class="itemname"><b>Speed Measuring Sensor Groove Coupler Module</b></div>
          <div class="itemprice"><b>Price : Rs.100.00</b></div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/ssd1.png" alt="product image">
            </div>
           <div class="itemname"><b>2913200 Phoenix Contact - Memory - VL 32 GB SSD</b> </div>
           <div class="itemprice"><b>Price : Rs.49000.00</b></div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/wifi2.png" alt="product image">
            </div>
          <div class="itemname"><b>ASUS ZenWiFi</b></div>
          <div class="itemprice"><b>Price : Rs.43990.00</b></div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/broadband.webp" alt="product image">
            </div>
           <div class="itemname"><b>D-link Dir-819 750 Mbps Router</b></div>
          <div class="itemprice"><b>Price : Rs.1,590.00</b></div>
        </div>
        <div class="productitem">
            <div class="itemimage">
            <img src="/static/img/sata1.webp" alt="product image">
            </div>
           <div class="itemname"><b>Wd Green Sata 2.5/7mm Disque 240 Gb Laptop</b></div>
           <div class="itemprice"><b>Price :Rs.3,150.00</b></div>
        </div>
    </div>
    </div>
{% endblock  %}